<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reverse Complement Tool</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Reverse Complement Tool</h1>
        <form method="POST" class="text-center">
            <textarea name="sequence" rows="4" cols="50" class="form-control mb-3">{{ sequence }}</textarea><br>
            <input type="submit" value="Get Reverse Complement" class="btn btn-primary">
        </form>
        {% if result is not none %}
            <h3 class="text-center mt-4">Reverse Complement:</h3>
            <p class="text-center">{{ result }}</p>
        {% endif %}
        
	<!-- Back Home Button -->
        <div class="text-center mt-4">
            <a href="/" class="btn btn-secondary">Go Back Home</a>
        </div>


    </div>
</body>
</html>
